@font-face {
  font-family: 'galletas1';
  src: local('galletas1'), url(../fonts/fuente.otf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'galletas1';
}
body {
  background-color: #ffd3af;
}
main {
  padding-top: 127px;
}

/*HEADER: */
.contenedorSuperior {
  background-color: inherit;
  width: 100%;
  position: fixed;
  top: auto;
  z-index: 20;
}
/*Menu desplegable izquierdo: */
#threePointsMenu {
  padding-right: 35px;
  padding-left: 35px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(213, 151, 100, 0.91); /*#111;  Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  font-family: 'galletas1';
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Logotipo: */
#galleta {
  margin: 15px;
  margin-right: 0;
  width: 50px;
}
#truchocs {
  margin: 15px;
  margin-left: 0;
  width: 150px;
}
.logotipo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotipoPuro {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Barra de busqueda derecha: */
#btnSearch {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0.0);
  padding: 0;
  width: content;
}
#lupa {
  padding-left: 35px;
  padding-right: 35px;
}
#offcanvasRight {
  width: 100%;
  height: 70px;
  transition: 0.5s;
  border-radius: 35px;
  background-color: #d59764;
}
.offcanvas-backdrop.fade.show {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.0);
}
button.btn.btn-outline-success {
  color: #000000;
  border-color: #000000;
}
.botonParaBuscar:hover {
  background-color: #c17824;
  border-color: #000000;
  box-shadow: none;
}
/*Barra de navegacion principal: */
.btn-group {
  width: 100%;
  background-color: #462d19;
  border-color: #462d19;
  color: #fff;
  border-radius: 0;
}
.btn.btn-light {
  padding: 6px 35px;
  background-color: #462d19;
  border-color: #462d19;
  color: #fff;
  border-radius: 0;
  font-family: 'galletas1';
}
#btnGroupDrop1 {
  padding: 6px 0px;
  background-color: #462d19;
  border-color: #462d19;
  color: #fff;
  font-family: 'galletas1';
}
#btnCookieCentro {
  display: flex;
  justify-content: center;
  padding: 4px 0px;
}
#productosColor {
  background-color: #d59764;
}
/*Barra de navegacion secundaria: */
.navbar, .container-fluid, .bg-light {
  display: none;
  background-color: #462d19!important;
}
.btnBusquedaSec {
  border-color: #462d19!important;
}
.btnBusquedaSec:hover {
  background-color: #462d19!important;

}
.navbarDos a {
  color: #fbfbfb!important;
}


/*MAIN: */
/*Slider: */
div.carousel-inner div img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.carousel {
  width: 100%;
}
#carouselExampleControls {
  padding-top: 0;
  padding-bottom: 0;
}
/*Productos: */
.titles {
  text-align: center;
}
.galletasDestacadas {
  height: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.contenedorGalleta {
  height: 275px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.imgCircularGalletas {
  transition: 0.1s;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #361c01;
}
.imgCircularGalletas:hover {
  transition: 0.1s;
  width: 113px;
  height: 113px;
}
.contenedorImgYTitulo {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorImgYTitulo h1 {
  padding: 22px 7px 0px 15px;
  text-align: center;
}
.contenedorBotones {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productosDestacados {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contenedorDestacado {
  height: 275px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


h1 {
  font-size: 1.2rem;
}

/*Botones de cada producto: */
.boton {
  border: 1px solid rgb(91, 34, 5); /*anchura, estilo y color borde*/
  padding: 3.5px; /*espacio alrededor texto*/
  background-color: rgb(91, 34, 5); /*color boton*/
  color: #decaca; /*color texto*/
  text-decoration: none; /*decoracion texto*/
  text-transform: uppercase; /*capitalizacion texto*/
  /*font-family: 'Helvetica', sans-serif; tipografia texto*/
  font-family: 'galletas1';
  font-size: 0.7rem;
  border-radius: 25px; /*bordes redondos*/
}
.boton:hover {
  color: #ffffff;
}
.botonVer {
  display: flex;
  align-items: center;
  border: 1px solid rgb(143, 51, 5);
  background-color: rgb(143, 51, 5);
  margin-right: 12px;
  padding: 0px 12px 0px 12px;
}
.enlGalletas {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.verGall {
  background-color: rgb(91, 34, 5);
  border-radius: 25px;
}
/*Tarjetas a otros productos: */
.seccionesTruchocs {
  padding: 15px 0px 15px 0px;
  font-size: 1.5rem;
}
.otrosProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedorProducto {
  width: 100%;
  max-width: 360px;
  margin-bottom: 8px;
  justify-content: center;
  flex-direction: column;
}
.imagenesTarjetas {
  width: 100%;
}
.contenedorTitYBoton {
  display: flex;
  justify-content: space-between;
}
.card-title {
  display: flex;
  margin: 0;
  padding-right: 28px;
  align-items: center;
}
.botonTarjeta {
  border-radius: 20px;
  background-color: #462d19;
  border: #462d19;
}
.botonTarjeta:hover {
  background-color: #864b1d;
  border: #864b1d;
}

/*FOOTER: */
footer {
  width: 100%;
  height: auto;
  background-color: #d59764;
}
.bordesFooter {
  padding: 10px;
}
.footerTitlesSize {
  color: black;
  font-size: 1.1rem;
}
a {
  text-decoration: none;
}
.navegacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  font-size: 0.9rem;
}
.navegacion a {
  text-decoration: none;
  color: rgb(37, 38, 46);
}
.navegacion a:hover {
  color: white;
}
.redesSociales {
  padding-bottom: 10px;
}
#wpp {
  padding-right: 7px;
}
#wpp:hover {
  color: white;
}
#ig:hover {
  color: white;
}
.mediosDePago {
  padding-bottom: 10px;
}
.fa-credit-card {
  padding: 0px 10px 0px 10px;
}
.contactTextSize {
  font-size: 0.9rem;
}
.copyright {
  color: rgba(62, 34, 3, 0.88);
  background-color: rgb(168, 110, 63);
  text-align: center;
}
.copyrightText {
  font-size: 0.8rem;
}
.copyright a {
  color: rgba(45, 24, 2, 1);
  font-size: 0.8rem;
}
.copyright a:hover {
  color: white;
}
#creadoCon {
  font-size: 1rem;
  padding: 10px 0px 10px 0px;
}



/*Media query: */
@media (min-width: 992px) {
  main {
    padding-top: 0;
  }
  .noVisibleEnPc {
    display: none;
  }
  .btn-group {
    display: none;
  }
  .navbar {
    display: block;
  }
  #lupa {
    color: #fbfbfb;
  }
  .contenedorSuperior {
    position: static;
  }
  .centrarSlider {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .carousel {
    width: 75%;
  }
  div.carousel-inner div img {
    width: 50%;
    height: auto;
    object-fit: contain;
  }
  #carouselExampleControls {
    margin: 20px 0px 20px 0px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .galletasDestacadas {
    display: flex;
    justify-content: space-around;
  }
  .otrosProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .productosDestacados {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .contenedorProducto {
    max-width: 25%;
    margin: 50px;
  }
  .datos {
    display: flex;
    justify-content: space-around;
  }
  .copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .alineadoFinal {
    display: flex;
  }
  .seccionesTruchocs {
    font-size: 2rem;
  }
}
