<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Productos > Galletas</title>
  <!--Bootstrap: -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--Iconos: -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <!--CSS: -->
  <link rel="stylesheet" href="../public/css/galletas.css">
</head>

<body>

  <header class="contenedorSuperior">
    <section class="logotipo">
      <!--Menú desplegable izquierdo: -->
      <div class="menuUno">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="../index.html">Inicio</a>
          <a href="./productos.html">Productos</a>
          <a href="#">Contacto</a>
          <a href="./quienes-somos.html">Quienes somos</a>
        </div>
        <span onclick="openNav()"><i class="fas fa-ellipsis-v noVisibleEnPc" id="threePointsMenu"></i></span>
      </div>
      <!--Logotipo: -->
      <div class="logotipoPuro">
        <img id="galleta" src="../public/img/logos/logo.png" alt="Truchocs">
        <img id="truchocs" src="../public/img/logos/truchocs.png" alt="Truchocs">
      </div>
      <!--Barra de busqueda derecha: -->
      <div class="barraBusqueda">
        <button class="btn btn-primary noVisibleEnPc" id="btnSearch" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="fas fa-search" id="lupa"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
              <button class="btn btn-outline-success botonParaBuscar" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--Barra de navegacion principal: -->
    <nav class="navbarUno">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <!--Boton inicio: -->
        <a href="../index.html" type="button" class="btn btn-light">
          <i class="fas fa-home"></i>
          Inicio
        </a>
        <!--Boton productos: -->
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cookie" id="btnCookieCentro"></i>
            Productos
          </button>
          <ul class="dropdown-menu" id="productosColor" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="./productos.html">Ver todos los productos</a></li>
            <li><a class="dropdown-item" href="./galletas.html">Galletas</a></li>
            <li><a class="dropdown-item" href="./alfajores.html">Alfajores</a></li>
            <li><a class="dropdown-item" href="#">Brownies</a></li>
            <li><a class="dropdown-item" href="#">Cupcakes</a></li>
            <li><a class="dropdown-item" href="#">Macarons</a></li>
          </ul>
        </div>
        <!--Boton carrito: -->
        <a href="#" type="button" class="btn btn-light">
          <i class="fas fa-shopping-cart"></i>
          Carrito
        </a>
      </div>
    </nav>
    <!--Barra de navegacion secundaria: -->
    <nav class="navbarDos navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./productos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contacto</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active" aria-current="page" href="./quienes-somos.html">Quienes somos</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success btnBusquedaSec" type="submit">
              <i class="fas fa-search" id="lupa"></i>
            </button>
          </form>
          <a href="#" type="button" class="btn btn-light">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section class="galletasDestacadas">
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/arandanos.png" alt="Arándanos">
          <h1>Arándanos</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/avena-y-miel.png" alt="Avena y miel">
          <h1>Avena y miel</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/chispas-blancas.png" alt="Chispitas blancas">
          <h1>Chispitas blancas</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/chispas-negras.png" alt="Chispitas negras">
          <h1>Chispitas negras</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/coco.png" alt="Coco">
          <h1>Coco</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/frutos-secos.png" alt="Frutos secos">
          <h1>Frutos secos</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/jengibre.png" alt="Jengibre">
          <h1>Jengibre</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
      <div class="contenedorGalleta">
        <div class="contenedorImgYTitulo">
          <img class="imgCircularGalletas" src="../public/img/galletas/limon.png" alt="Limón">
          <h1>Limón</h1>
        </div>
        <div class="contenedorBotones">
          <a class="boton botonVer" href="#">Ver</a>
          <a class="boton botonAñCarrito" href="#">Añadir al carrito</a>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <section class="datos bordesFooter">
      <div>
        <h1 class="footerTitlesSize">Navegación</h1>
        <div class="navegacion">
          <a href="../index.html">Inicio</a>
          <a href="./productos.html">Productos</a>
          <a href="#">Contacto</a>
          <a href="./quienes-somos.html">Quiénes somos</a>
        </div>
      </div>
      <div>
        <h1 class="footerTitlesSize">Redes sociales</h1>
        <div class="redesSociales">
          <i class="fab fa-whatsapp-square fa-3x" id="wpp"></i>
          <i class="fab fa-instagram-square fa-3x" id="ig"></i>
        </div>
      </div>
      <div>
        <h1 class="footerTitlesSize">Medios de pago</h1>
        <div class="mediosDePago">
          <i class="fas fa-money-bill-wave fa-lg"></i>
          <i class="fas fa-credit-card fa-lg"></i>
          <i class="fas fa-university fa-lg"></i>
        </div>
      </div>
      <div>
        <h1 class="footerTitlesSize">Contactanos</h1>
        <div class="contacto">
          <h1 class="contactTextSize"><i class="fas fa-phone"></i> 12341235123</h1>
          <h1 class="contactTextSize"><i class="fas fa-envelope"></i> truchocs@gmail.com</h1>
          <h1 class="contactTextSize"><i class="fas fa-map-marker-alt"></i> Av. Quiensabedonde 3514514, Mendozaires, Argenguay</h1>
        </div>
      </div>
    </section>
    <section class="copyright bordesFooter">
      <h1 id="creadoCon">
        Creado con
        <i class="fas fa-atom"></i>
        <i class="fab fa-html5"></i>
        <i class="fab fa-css3-alt"></i>
        <i class="fab fa-js"></i>
      </h1>
      <div class="alineadoFinal">
        <h1 class="copyrightText">Copyright Truchocs - 2021. Todos los derechos reservados.</h1>
        <h1 class="copyrightText">Defensa de los consumidores. Para reclamos <a href="#">ingrese aquí.</a></h1>
      </div>
    </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="../public/js/main.js" charset="utf-8"></script>
</body>

</html>
